:root {
  light-col: #d3d3d3;
  --light-col: #efefef;
}
.banner .intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: red solid 2px; */
  /* background-color: rgba(0,0,0,0.4); */
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 20%,
    rgba(143, 143, 143, 0.7) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 200 !important;
  height: 53vh;
}

.pwrap > p > span {
  color: rgb(255, 255, 255);
  font-weight: bolder;
}
.banner {
  z-index: 100;
  /* margin-top: -8rem; */
  padding: 260px 0 100px 0;
  /* background-image: url('./assets/img/smoke.jpg'); */
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

#home > div > div > div.col-xl-7.col-md-6.col-12 {
  z-index: 10;
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  /* background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%); */
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  z-index: 100;
  border-radius: 5%;
  box-shadow: #18fecc 0 0 20px 2px;
  animation: flicker 0.8s infinite alternate;
}
.banner h1 {
  z-index: 100;
  font-size: 4vw;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-top: 0.5rem;
  margin-bottom: 20px;
  display: block;
}

.banner .h1wrap {
  z-index: 100;
  height: 10rem;
}
.banner .pwrap {
  z-index: 100;
  /* font-size: 1vw; */
}
.banner p {
  color: #b8b8b8;
  font-size: 1.2vw;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  margin-top: 40px;
  width: 18vw;
  height: 2rem;

  opacity: 0;
}
.banner .text-decoration-none {
  text-shadow: 1px 1px 1px #ff00aa, 1px 2px 1px #86015a, 1px 3px 1px #640243,
    1px -2px 2px rgba(16, 16, 16, 0.4), 1px -3px 2px rgba(16, 16, 16, 0.2),
    1px -6px 3px rgba(16, 16, 16, 0.2), 1px -8px 5px rgba(16, 16, 16, 0.4);
}
.banner a {
  text-decoration: none;
}

@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid rgb(98, 98, 98);
}
