.headxav {
  z-index: 0;
  /* position: absolute !important; */
  /* border: red solid 2px; */
  /* right: 0;
  top: 0; */
  /* margin-top: 20vh; */
  height: 100vh;
  width: 100vw;
  background-color: #dddcdc;

  /* opacity: 0.2; */
}

.htmlScreen iframe{

  /* width: 1268px;
  height: 816px;  */
   scrollbar-width: 0;
   border-radius: 6px;
   overflow: hidden;
   /* -webkit-filter: blur(3px);
   filter: blur(3px); */
  /* position: fixed */
}
.htmlScreen{
 overflow-x: scroll;
 /* scroll-snap-type: x mandatory; */
 /* overscroll-behavior: auto; */
 /* scroll-snap-type:proximity; */
 /* scroll-snap-type: none; */
  /* pointer-events: none; */
}

.htmlScreen::-webkit-scrollbar {
  display: none;
}

.htmlScreen > iframe  {
  background-color: rgb(90, 90, 90);
  box-shadow:  inset 0px 0 10px 10px #000000;

}