.headxav {
  /* z-index: 0; */
/*  */
  height: 100vh;
  width: 100vw;
  background-color: #dddcdc;
/* position: absolute */
/* position: fixed; */
/* height: 100%; */
/* width: 100%; */

z-index:0 ;
}


