@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* scroll-behavior: smooth; */
  scroll-padding-top: 75px;
  z-index: 100;
  max-width: 100vw;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
  z-index: 100;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
  z-index: 100;
}

.loadingScreen-hidden {
  display: none;
}

.loadingScreen {
  display: block;
  z-index: 9999 !important;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  position: fixed;

  transition: 3s ease-out;
}

.circleLoader {
  margin: 45vh 45vw;
  transition: 10s ease-out;
}

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100vw;
  height: 6rem;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;

}
nav.navbar.scrolled {
  padding: 0px 0;
  /* background-color: #121212; */
  background: linear-gradient(0deg, rgba(0,0,0,0.94) 0%, rgba(18,18,18,1) 46%, rgba(22,22,22,1) 100%);
box-shadow: 0 0 8px 10px #000000;
}
nav.navbar a.navbar-brand {
  /* width: 9%; */
  /* height: 9% !important; */
   /* margin-left: -3rem; */
}

nav > .container {
  height: inherit;
  /* margin-left: 0 !important; */ 
   /* display: flex; */
   max-width: 90vw;
  /* justify-content: space-between; */
}
nav > .container > a {
  height: inherit;
}
nav > .container > a > img {
  scale: 30%;
  /* margin-left: -6rem; */

/* position: absolute; */
  margin-left: -6rem;
  margin-top: -4rem;
  
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
  /* border: red solid 1px; */
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
  opacity: 1;
}
span.navbar-text {
  display: flex;
  align-items: center;
}
.social-icon {
  display: inline-block;
  margin-left: 14px;
}
.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
    hue-rotate(346deg) brightness(95%) contrast(86%);
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
  margin-top: -2rem;
}
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}









.banner .intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: red solid 2px; */
  /* background-color: rgba(0,0,0,0.4); */
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.7) 20%,
    rgba(0, 0, 0, 0.7) 80%,
    rgba(0, 0, 0, 0) 100%
  );
  z-index: 200 !important;
height: 53vh;

}

 .pwrap > p > span{
  color: rgb(255, 255, 255);
  font-weight: bolder;
 }
.banner {
  z-index: 100;
  /* margin-top: -8rem; */
  padding: 260px 0 100px 0;
  /* background-image: url('./assets/img/smoke.jpg'); */
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}

#home > div > div > div.col-xl-7.col-md-6.col-12 {
  z-index: 10;
}

.headxav {
  z-index: 0;
  position: absolute !important;
  /* border: red solid 2px; */
  right: 0;
  top: 0;
  /* margin-top: 20vh; */
  height: 120vh;
  width: 100vw;
  /* opacity: 0.2; */
}

.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  /* background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%); */
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  z-index: 100;
  border-radius: 5%;
  box-shadow: #fe18fe 0 0 20px 2px;
  animation: flicker 0.8s infinite alternate;
}
.banner h1 {
  z-index: 100;
  font-size: 4vw;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-top: 0.5rem;
  margin-bottom: 20px;
  display: block;
}

.banner .h1wrap {
  z-index: 100;
  height: 10rem;
}
.banner .pwrap {
  z-index: 100;
  /* font-size: 1vw; */
}
.banner p {
  color: #b8b8b8;
  font-size: 1.2vw;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner button {
  color: #fff;
  font-weight: 700;
  font-size: 1.5vw;
  margin-top: 40px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  width: 18vw;
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.437);
  margin-left: 6rem;
  padding-left: 2rem;
  border-radius: 5px;
  /* background-color: #4e4e4ee2; */
  background: linear-gradient(0deg, rgba(21,21,21,1) 0%, rgba(70,57,66,1) 100%);
  border:  rgba(192, 192, 192, 0.823) solid 2px;
  box-shadow:  0px 1px 1px #b300a4;

}
.banner .text-decoration-none{
  text-shadow: 1px 1px 1px #ff00aa,
  1px 2px 1px #86015a,
  1px 3px 1px #640243,
 
1px -2px 2px rgba(16,16,16,0.4),
1px -3px 2px rgba(16,16,16,0.2),
1px -6px 3px rgba(16,16,16,0.2),
1px -8px 5px rgba(16,16,16,0.4);
}
.banner a {
  text-decoration: none;
}
.arrowsvg{
  filter: drop-shadow(1px 3px 0.5px  #8e005f);
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid rgb(98, 98, 98);
}

.skill .interdiv {
  /* box-shadow: black 20px 20px 20px; */
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.68) 35%,
    rgba(0, 0, 0, 1) 50%,
    rgba(0, 0, 0, 0.6875700963979341) 85%,
    rgba(0, 0, 0, 0) 100%
  );
  margin-top: 2rem;
  height: 20vh;
  width: 100vw;
  z-index: 1;
  position: absolute;
}

.skill {
  padding: 0 0 50px 0;
  position: relative;
}

.else {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(20, 20, 20, 0.912) 15%,
    rgba(0, 0, 0, 0.9116597322522759) 21%,
    rgba(0, 0, 0, 1) 100%
  );
  /* background-color: #00e5e9; */
}

.skill-bx {
  background: #2222228e;
  border-radius: 64px;
  text-align: center;
  padding: 60px 50px;
  /* margin-top:  -60px; */
  /* border: red solid 2px; */
  z-index: 5;
  /* opacity: 0.2; */
}

/*GRADDDDDDD ANIMMMMMMMMMM */

.skill-bx-wrap {
  --borderWidth: 3px;
  /* background: #1D1F20; */
  position: relative;
  border-radius: var(--borderWidth);
  z-index: 1;
}
.skill-bx-wrap:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  /* background: radial-gradient(circle, #ffffff8c, #e4e4e491, #b2b6b31c); */
  /* border-radius: calc(2 * var(--borderWidth)); */
  background: radial-gradient(
      ellipse 70% 100%,
      #000 0%,
      #ff00d4a5 80%,
      #ffd8d8 100%
    ),
    radial-gradient(ellipse 100% 70%, #000 0%, #ff00d4a5 80%, #ffd8d8 100%);
  border-radius: 64px;
  z-index: -1;
  animation: animatedgradientskills 3s infinite;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  /* background-position: 0% 50%; */
  box-shadow: 0 0 2rem #bc13fe, 0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe,
    inset 0 0 1.3rem #bc13fe;
}

@keyframes animatedgradientskills {
  0% {
    background: radial-gradient(
        ellipse 70% 100%,
        #000 0%,
        #ff00d4a5 80%,
        #ffd8d8 100%
      ),
      radial-gradient(ellipse 100% 70%, #000 0%, #ff00d4a5 80%, #ffd8d8 100%);
  }
  50% {
    background: radial-gradient(
        ellipse 70% 100%,
        #000 0%,
        #ff00d4a5 80%,
        #ffd8d8 100%
      ),
      radial-gradient(ellipse 100% 70%, #000 0%, #ff00d4a5 80%, #ffd8d8 100%);
  }
  52% {
    background: radial-gradient(
        ellipse 70% 100%,
        #550d4d8a 0%,
        #6c00674b 20%,
        #ff00d4a5 80%,
        #ffffff 100%
      ),
      radial-gradient(
        ellipse 100% 70%,
        #550d4d8a 0%,
        #6c00674b 20%,
        #ff21dadb 80%,
        #ffffff 100%
      );
  }
  54% {
    background: radial-gradient(
        ellipse 70% 100%,
        #000 0%,
        #ff00d4a5 80%,
        #ffd8d8 100%
      ),
      radial-gradient(ellipse 100% 70%, #000 0%, #ff00d4a5 80%, #ffd8d8 100%);
  }
  55% {
    background: radial-gradient(
        ellipse 70% 100%,
        #550d4d8a 0%,
        #6c00674b 20%,
        #ff21dadb 80%,
        #ffffff 100%
      ),
      radial-gradient(
        ellipse 100% 70%,
        #550d4d8a 0%,
        #6c00674b 20%,
        #ff21dadb 80%,
        #ffffff 100%
      );
  }
  56% {
    background: radial-gradient(
        ellipse 70% 100%,
        #000 0%,
        #ff00d4a5 80%,
        #ffd8d8 100%
      ),
      radial-gradient(ellipse 100% 70%, #000 0%, #ff00d4a5 80%, #ffd8d8 100%);
  }
  100% {
    background: radial-gradient(
        ellipse 70% 100%,
        #000 0%,
        #ff00d4a5 80%,
        #ffd8d8 100%
      ),
      radial-gradient(ellipse 100% 70%, #000 0%, #ff00d4a5 80%, #ffd8d8 100%);
  }
}

/*GRADDDDDDD ANIMMMMMMMMMM */

.skill h2 {
  font-size: 45px;
  font-weight: 700;
}
.skill p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5rem;
  margin: 14px 0 75px 0;
}

.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}

.react-multi-carousel-list {
  width: 90%;
}

.react-multiple-carousel__arrow--right {
  margin-right: -20px;
}
.react-multiple-carousel__arrow--left {
  margin-left: -20px;
}

.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}








.project {
  padding: 80px 0;
  position: relative;
  background-color: black;
  z-index: 10;
  
}


.proj-head-wrap{
  /* border: red solid 2px; */
  margin-left: 20%;
}


.project h2 {
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}
.project p {
  color: #b8b8b8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.project .nav.nav-pills {
  width: 72%;
  margin: 0 auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
}
.project .nav.nav-pills .nav-item {
  width: 33.33333%;
}
.project .nav.nav-pills .nav-link {
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav.nav-pills .nav-link::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: linear-gradient(90.21deg, #aa367c -5.91%, #00e5e9 111.58%);
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}

.project .nav.nav-pills .nav-link:hover {
  text-shadow: 0 0 10px rgb(255, 255, 255);
  color: white;
  box-shadow: inset white 0 0 5px 5px;
}

.project .nav.nav-pills .nav-link.active::before {
  width: 100% !important;
}
.project .nav.nav-pills .nav-link.active {
  border: 1px solid rgba(255, 255, 255, 1);
}
.nav-link#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
  
}
.nav-link#projects-tabs-tab-second {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.nav-link#projects-tabs-tab-third {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}



.project .container{
  margin-left: 5vw;
}
.project .tab-content{
  /* border: red solid 2px; */
  width: 90vw;
}

.proj-imgbx {
  position: relative;
  border-radius:20px;
  max-height: 80vh;
  overflow: hidden;
  margin-bottom: 24px;  
  border: red solid 2px;
}
.proj-imgbx img {
  overflow: hidden;
  max-width: 28vw;
  align-items: center;
  width: auto;
}
.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #1d1d1df6 -5.91%, #222222e0 111.58%);
  opacity: 0.95;
  position: absolute;
  width: 93%;
  border-radius: 10px;
/* margin-left: -3rem; */
  height: 0;
  transition: 0.4s ease-in-out;
  border: red solid 2px;
}
.proj-imgbx:hover::before {
  height: 100%;
  /* max-width: auto; */
}
.proj-txtx{
 
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
  padding: 4rem;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
  padding: 5%;

}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

.proj-txtx .languages {
  font-size: 0.8rem; 
   margin-top: 2rem;
}

/*DESKTOP SIZED PROJ*/
.projwrap {
  display: flex;
  flex-wrap: wrap;
}
.proj-imgbx-desktop {
  position: relative;
  width: 60vw;
  object-fit: contain;

  border-radius: 10px;

  margin-left: 15vw;
}
.proj-imgbx-desktop > img {
  border-radius: 10px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.proj-imgbx-desktop::before {
  content: "";
  border-radius: 10px;
  background: linear-gradient(90.21deg, #1d1d1df6 -5.91%, #222222e0 111.58%);
  opacity: 0.95;
  position: absolute;
  width: inherit;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx-desktop:hover::before {
  height: 100%;
}
.proj-imgbx-desktop > .proj-txtx-desktop {
  display: flex;
  position: absolute;
  text-align: center;

  flex-direction: column;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;

  padding: 4px;
  width: inherit;
  height: inherit;

  overflow-y: auto;
}
.proj-imgbx-desktop:hover > .proj-txtx-desktop {
  opacity: 1;
}
.proj-imgbx-desktop > .proj-txtx-desktop > h4 {
  font-size: 4vw;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
}
.proj-imgbx-desktop > .proj-txtx-desktop > span {
  font-style: italic;
  font-weight: 400;
  font-size: 1.4vw;

  padding: 5%;
}

/*AAAAAAARRRRRTTTTTTT*/
.thumbnail {
  display: flex;
  border-radius: 10px;
  width: 85vw;
  margin: auto;
}
.imagenorm {
  margin-bottom: 3rem;
}

.contact {
  background: linear-gradient(90.21deg, #070707 -5.91%, #029dea 111.58%);
  padding: 60px 0 200px 0;
}
.contact .mail-logo {
  width: 60%;
  margin-left: -5vw;
  filter: drop-shadow(0 0 25px #f1ee34) drop-shadow(-10px 5px 5px #f19334);
  animation: flicker 0.8s infinite alternate;
}

@keyframes flicker {
  20% {
    opacity: 0.8;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 0.8;
  }
  70% {
    opacity: 0.7;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.7;
  }
}

.contact h2 {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 30px;
}
.contact form input,
.contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus,
.contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder,
.contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder,
.contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  margin-top: 25px;
  border-radius: 10px;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button span {
  z-index: 1;
  position: relative;
}
.contact form button:hover {
  color: #fff;
}
.contact form button::before {
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.contact form button:hover::before {
  width: 100%;
}

.footer {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer img {
  padding-top: 5px;
  width: 30%;
  /* height: 30%; */
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #b8b8b8;
  letter-spacing: 0.5px;
  margin-top: 40px;
  margin-left: -6vw;
}

/* #root > div > div.App > div.else > footer > div > div.cont.row > div.logoz.col-sm-6{
  display: flex;

} */
/* .footer .container{
} */

.footer .cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 5rem;
}


.footer .cont > div {
  display: flex;
  flex-direction: row;
  max-width: 30%;
  /* border:  red solid 2px; */
}
.footer .social-icon {
  margin-top: 1rem;
}
.footer .social-icon a {
  width: 50px;
  height: 50px;
}
.footer .social-icon img {
  margin-top: -5px;
  width: 45%;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  width: 70vw;
  margin: auto;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.main {
  text-align: center;
  background-color: #000;
}

.App {
  text-align: center;
  transition:  1s ease-in; 
  background-color: #35353505;
}

.App-hidden {
  text-align: center;
  opacity: 0;
  z-index: 0 !important;
  overflow: hidden;
  pointer-events: none !important;
  /* height: 100%; */
  position: fixed;
  transition: opacity 3s ease;
}
.App-hidden canvas {
  z-index: 0;
  pointer-events: none !important;
  overflow: hidden;
}

.App-hidden .else {
  /* display: none; */
  overflow: hidden;
}



@media only screen and (max-device-width: 790px) {
  
  /* Styles */
  .App {
    /* background: greenyellow; */
    overflow: hidden;
    /* max-width: 100vw; */
  }

  nav > .container > a > img {
    margin-top: -4.5rem;
    margin-left: -5.5rem;
  }

  .navbar-text .social-icon {
    display: none;
  }

.banner .intro p{
  font-size: 1rem;
}

.banner .h1wrap{
  max-width: 80vw;
  margin: 0 auto;
  height: auto;
  max-height: 10vh;

}
.banner h1{
  font-size: 2rem;
}
  #home > div > div > div.col-xl-7.col-md-6.col-12 > a > button {
    background-color: #b8b8b885;
    border: whitesmoke solid 2px;
    font-size: 1rem;
    width: 50vw;
    height: 4rem;
    margin: 4rem auto 0;
  }

  .react-multi-carousel-list {
    width: 70vw;
  }

  .react-multiple-carousel__arrow--left {
    margin-left: -10px;
  }

  .react-multiple-carousel__arrow--right {
    margin-right: -10px;
  }
  #projects-tabs-tabpane-first > div > div > div > img {
    max-width: 90vw;
  
    /* scale: 100%; */
  }
  /*
#projects-tabs-tabpane-first > div > div.Four.by.Four\(WIP\).col-md-4.col-sm-6 > div > img{
  scale: 100%; 
} */

.proj-head-wrap{
  /* border: red solid 2px; */
  margin-left: -2rem;
}

.projwrap {
  display: flex;
flex-direction: column;
margin-left: -1rem;
  /* flex-wrap: nowrap; */
}

.proj-imgbx{
  border-radius: 10%;
  /* border: red solid 2px; */
}

.proj-imgbx-desktop {
  position: relative;
  width: 80vw;
  object-fit: contain;

  border-radius: 10px;

  /* margin-left: 5vw; */
  margin: auto;
}

.proj-imgbx-desktop > img {
  border-radius: 10px;
  width: 100%;
  height: 40vh;
  object-fit: cover;

}


/*DESKTOP SIZED PROJ*/
.projwrap {
  display: flex;
  flex-wrap: wrap;
}


.proj-imgbx::before {

  width: 96%;

}

.proj-imgbx-desktop > .proj-txtx-desktop 



















/* 
#connect > div > div > div:nth-child(2){
  max-width: 90vw;
  margin: auto;
} */
  .footer .col-sm-6 {
    /* display: flex; */
    /* border: red solid 2px; */
    max-width: 50%;
    /* justify-content: space-around; */
    /* margin: auto; */
    margin: 0;
    /* align-content: center; */
  }

  .footer .logoz.col-sm-6 img {
    display: flex;
    width: 50%;
    justify-content: flex-start;
  }

  .footer img{
    width: auto;
    scale: 60%;
  }

  .footer .col-sm-6 .social-icon {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
  }



}
