@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Centra;
  src: url("./assets/font/CentraNo2-Book.ttf");
  font-weight: 400;
}

:root{
  --dark-col : #d3d3d3;
  --light-col : #efefef;

}

@media (min-width:1400px){.container,.container-lg,.container-md,.container-sm,.container-xl,.container-xxl{max-width:1140px}}

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

} */

html {
  scroll-behavior: smooth;
  /* scroll-padding-top: 75px; */
  z-index: 10;
  /* max-width: 100vw; */
  overflow-y: hidden;
 /* overflow: scroll; */

}

body {
  font-weight: 400;
  /* overflow-y: hidden;
   */

position: fixed;
  background-color: var(--light-col) !important;
  color: #fff !important;
  font-family: "Centra", sans-serif !important;
  z-index: 10;

}

.route-app{
  overflow: hidden;
  width: 100vw;
  height: 100vh;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
  z-index: 100;
}

.main{
  /* height: 100vh; */
   /* width: 100%;
  height: 100%; */
  width: 100vw;
  height: 100vh;
}


.tab-html{
  /* overflow: none; */
  position: relative;
  white-space: nowrap;
}

.tab-html > p{
  overflow: hidden;
}

.oui{
/* display: block; */
  /* position: absolute; */
  /* overflow: auto; */
  /* top: 10vh; */
  /* position: fixed; */
  font-size: 4em;
  color: purple;
  /* z-index: 500; */

}

.oui > *{
  margin-top: 50vh;
  /* position: absolute; */
  inset: 0;
  align-items: center;
}

